@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vc6x32');
  src:  url('fonts/icomoon.eot?vc6x32#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vc6x32') format('truetype'),
    url('fonts/icomoon.woff?vc6x32') format('woff'),
    url('fonts/icomoon.svg?vc6x32#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-episode:before {
  content: "\e91c";
  color: #a2a2a2;
}
.icon-like:before {
  content: "\e91d";
  color: #a2a2a2;
}
.icon-mic:before {
  content: "\e91e";
  color: #a2a2a2;
}
.icon-share:before {
  content: "\e91f";
  color: #a2a2a2;
}
.icon-time:before {
  content: "\e920";
  color: #a2a2a2;
}
.icon-info:before {
  content: "\e91a";
  color: #3ac48a;
}
.icon-start:before {
  content: "\e91b";
  color: #3ac48a;
}
.icon-age:before {
  content: "\e914";
  color: #3ac48a;
}
.icon-calendar:before {
  content: "\e915";
  color: #3ac48a;
}
.icon-chkeckmark:before {
  content: "\e916";
  color: #3ac48a;
}
.icon-gender:before {
  content: "\e917";
  color: #3ac48a;
}
.icon-roght-aroow:before {
  content: "\e918";
  color: #767676;
}
.icon-time-management:before {
  content: "\e919";
  color: #3ac48a;
}
.icon-full-time-job:before {
  content: "\e911";
  color: #3ac48a;
}
.icon-location-pin:before {
  content: "\e912";
  color: #3ac48a;
}
.icon-sale:before {
  content: "\e913";
  color: #fff;
}
.icon-play:before {
  content: "\e910";
  color: #8b8b8b;
}
.icon-booking:before {
  content: "\e900";
  color: #eee;
}
.icon-design:before {
  content: "\e901";
  color: #3ac48a;
}
.icon-educate:before {
  content: "\e902";
  color: #3ac48a;
}
.icon-email:before {
  content: "\e903";
  color: #3ac48a;
}
.icon-eye:before {
  content: "\e904";
  color: #fff;
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-person:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
  color: #3ac48a;
}
.icon-pin:before {
  content: "\e90a";
  color: #3ac48a;
}
.icon-products:before {
  content: "\e90b";
  color: #3ac48a;
}
.icon-search:before {
  content: "\e90c";
  color: #fff;
}
.icon-support:before {
  content: "\e90d";
  color: #3ac48a;
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-wishlist:before {
  content: "\e90f";
}
